doctype 

block locals
  - var title = 'Fashion'

html(lang='jp')
  head
    meta(charaset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
  body

    .slider.js-slider
      div.slider__inner.js-slider__inner
      .slide.js-slide
        div.slide__content
        div.slider__text.js-slider__text
          .hero__text
            h1 3d animation
            p さぁ　はじめよう
      .slide.js-slide
        div.slide__content
      .slide.js-slide
        div.slide__content
      .slide.js-slide
        div.slide__content
      .slide.js-slide
        div.slide__content
      