doctype 

block locals
  - var title = 'boiler-plate-std'

html(lang='jp')
  head
    meta(charaset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
  body
    include _menu.pug
    .global-content
      block content
    .footer footer
      