@use '../globals' as *;

.more {
  text-transform: uppercase;
  font-size: 2vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 85%;
  left: 65%;
  width: 20%;
  text-align: center;
  opacity: 0.5;
  transition: opacity 1s ease;
  z-index: 2;

  &:hover {
    opacity: 1;
    & .more {
      &__inner {
        &:before {
          height: 100%;
        }
        &:after {
          height: 100%;
        }
      }

      &__line {
        width: 100%;
      }
    }
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 0%;
      background-color: $cWhite;
      top: 0;
      left: 0;
      transition: all 0.5s ease;
    }
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 0;
      background-color: $cWhite;
      bottom: 0;
      right: 0;
      transition: all 1s ease;
    }
  }

  &__line {
    width: 60%;
    height: 1px;
    background-color: $cWhite;
    transition: all 0.5s ease;

    &.top {
      position: absolute;
      top: 0;
      left: 0;
    }

    &.bottom {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
